
.icon-link:before { content: '\e800'; } /* '' */
.icon-bold:before { content: '\e801'; } /* '' */
.icon-italic:before { content: '\e802'; } /* '' */
.icon-underline:before { content: '\e803'; } /* '' */
.icon-strike:before { content: '\e804'; } /* '' */
.icon-superscript:before { content: '\e805'; } /* '' */
.icon-subscript:before { content: '\e806'; } /* '' */
.icon-align-left:before { content: '\e807'; } /* '' */
.icon-align-center:before { content: '\e808'; } /* '' */
.icon-align-right:before { content: '\e809'; } /* '' */
.icon-align-justify:before { content: '\e80a'; } /* '' */
.icon-cancel-circled:before { content: '\e80b'; } /* '' */
.icon-picture:before { content: '\e80c'; } /* '' */
.icon-pound:before { content: '\e80d'; } /* '' */
.icon-text-height:before { content: '\e80e'; } /* '' */
.icon-ccw:before { content: '\e80f'; } /* '' */
.icon-list-bullet:before { content: '\e810'; } /* '' */
.icon-list-numbered:before { content: '\e811'; } /* '' */